<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Верификация 2FA</title>
</head>
<body>
    <h2>Верификация 2FA</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label for="2fa_code">Код из приложения:</label>
        <input type="text" id="2fa_code" name="2fa_code" required><br>
        <button type="submit">Подтвердить</button>
    </form>
</body>
</html>